/*===================== Foundation.scss =====================*/
body {
  box-sizing: border-box;
  opacity: 0;
  transition-delay: 3s;
  transition: 1s;
  transform: translateY(50px);
}

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/*===================== Layout.scss =====================*/
.l-header {
  max-width: 1080px;
  margin: 35px auto 0;
}

@media screen and (max-width: 768px) {
  .l-header {
    width: 85%;
    margin: 25px auto 0;
  }
}
.l-main {
  max-width: 1080px;
  margin: 70px auto 0;
}

.l-sd-main {
  width: 62%;
}

@media screen and (max-width: 768px) {
  .l-main {
    width: 85%;
    margin: 40px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .l-sd-main {
    width: 85%;
    margin: 40px auto 0;
  }
}
.l-main__content {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .l-main__content {
    margin: 55px auto 0;
  }
}
.l-footer {
  margin-top: 50px;
  background-color: #F5F5F5;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .l-footer {
    margin-top: 80px;
  }
}
.l-sd-aside {
  width: 258px;
}

@media screen and (max-width: 768px) {
  .l-sd-aside {
    display: none;
  }
}
.l-primary-flexbox {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 70px auto 0;
}

@media screen and (max-width: 768px) {
  .l-primary-flexbox {
    width: 100%;
    display: block;
    margin: 0;
  }
}
/*===================== Component.scss =====================*/
.c-btn {
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  transition: 1s;
}

.c-btn:hover {
  opacity: 0.5;
}

.c-main__persons-icon {
  border-radius: 50%;
  outline: 10px solid #F1F1F1;
  width: 70%;
}

.c-main__persons-ly {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px 2%;
}

@media screen and (max-width: 768px) {
  .c-main__persons-ly {
    display: block;
  }
}
.c-banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 4%;
}

.c-linkbox__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.c-arrow {
  position: relative;
}

.c-arrow::after {
  content: "";
  position: absolute;
  display: inline-block;
  transform: skew(50deg);
}

.c-arrow::after {
  content: "";
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 7px;
}

.c-arrow_left::before {
  content: "";
  position: absolute;
  display: inline-block;
  transform: skew(130deg);
}

.c-arrow_left::before {
  content: "";
  border-left: 1px solid;
  border-bottom: 1px solid;
  height: 7px;
}

/*===================== index.scss =====================*/
/*===================== Project.scss =====================*/
.p-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-header__main-logo {
  width: 100%;
}

.p-header__main-logo > img {
  width: 45%;
}

.p-header__staffbtn {
  font-size: 0.8rem;
  width: 30%;
  color: #fff;
  background-color: #1DDB07;
  padding: 1rem 0.5rem;
  outline: 1px solid #fff;
  outline-offset: -0.3rem;
}

.p-header__label {
  margin-top: 36px;
}

.p-header__label > ul {
  display: flex;
  gap: 2px;
}

.p-header__label_tx {
  font-size: 11px;
  transition: 1s;
}

.p-header__label_tx:hover {
  opacity: 0.5;
}

.p-header__main-img {
  background: url(../../../sozai/mv-pc.jpg);
  height: 62vh;
  align-items: center;
  background-size: cover;
  margin: 20px calc(50% - 50vw) 0;
}

@media screen and (max-width: 768px) {
  .p-header__inner {
    display: block;
    width: 100%;
    text-align: center;
  }
  .p-header__main-logo > img {
    width: 85%;
  }
  .p-header__staffbtn {
    display: none;
  }
  .p-header__label {
    margin-top: 25px;
  }
  .p-header__main-img {
    background: url(../../../sozai/mv-sp.jpg);
    height: 50vh;
    align-items: center;
    background-size: cover;
    margin: 20px calc(50% - 50vw) 0;
  }
}
.p-footer__contents {
  width: 64%;
  margin: 0 auto;
  padding: 50px 0;
}

.p-footer__flexbox {
  display: flex;
  justify-content: space-between;
}

.p-footer__infobox__co-name {
  font-weight: 700;
}

.p-footer__infobox__co-about {
  margin-top: 20px;
}

.p-footer__infobox__co-about__address {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
}

.p-footer__infobox__co-about__tel {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 500;
}

.p-footer__linkbox {
  align-items: center;
  text-align: center;
}

.p-footer__linkbox__img {
  display: inline-block;
  background-color: #ffffff;
  font-size: 13px;
  padding: 10px 2.5rem;
  border: solid 1px #D6D5D5;
}

.p-footer__contents_copy {
  width: 100%;
  text-align: center;
  margin: 55px 0 0;
}

.p-footer__contents_copy__text {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .p-footer__contents {
    width: 85%;
  }
  .p-footer__flexbox {
    flex-direction: column;
  }
  .p-footer__infobox {
    order: 2;
  }
  .p-footer__linkbox {
    order: 1;
    margin-top: -10px;
  }
  .p-footer__linkbox__img {
    padding: 10px 2.5rem;
  }
  .p-footer__infobox {
    margin-top: 30px;
  }
  .p-footer__contents_copy {
    text-align: left;
    margin: 45px 0 0;
  }
}
.p-main__staff-title {
  font-size: 36px;
  font-weight: 800;
}

.p-main__staff-lead {
  margin-top: 40px;
  font-size: 13px;
}

.p-main__persons-ly__grid {
  text-align: center;
  padding: 0 25px;
  transition: 1s;
}

.p-main__persons-link {
  transition: 1s;
}

.p-main__persons-link:hover {
  opacity: 0.5;
}

.p-main__persons-ly__name {
  text-align: left;
  margin-top: 45px;
  font-weight: 700;
}

.p-main__persons-ly__date {
  text-align: left;
  font-size: 10px;
  margin-top: 10px;
}

.p-main__persons-ly__tx {
  text-align: left;
  font-size: 13px;
  margin-top: 15px;
}

.p-main__persons-ly__nextlead {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 22px;
  font-size: 13px;
  transition: 1s;
}

.p-main__persons-ly__nextlead:hover {
  opacity: 0.5;
}

.p-main__persons-ly__nextlead::after {
  content: "";
  width: 25px;
  margin-left: 10px;
  margin-top: 5px;
  border-color: #707070;
}

.p-main__content__staffbtn {
  width: 100%;
  text-align: center;
}

.p-main__content__staffbtn-detil {
  font-size: 0.8rem;
  padding: 15px 5rem 15px 3rem;
  background-color: #1DDB07;
  color: #ffffff;
  margin-top: 70px;
  margin-left: 14px;
}

.p-main__content__staffbtn-detil::after {
  content: "";
  width: 25px;
  margin-top: 2px;
}

.p-main__contents__banner-list {
  margin-top: 110px;
}

.p-main__contents__banner-img {
  width: 100%;
  transition: 1s;
}

.p-main__contents__banner-img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .p-main__staff-title {
    font-size: 24px;
    font-weight: 600;
  }
  .p-main__persons-ly__grid {
    margin-top: 57px;
  }
  .p-main__staff-lead {
    margin-top: 30px;
    font-size: 13px;
    line-height: 20px;
  }
  .p-main__persons-ly__tx {
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
  }
  .p-main__persons-ly__nextlead {
    margin-top: 15px;
  }
  .p-main__content__staffbtn-detil::after {
    content: "";
    margin-left: 18px;
  }
  .p-main__contents__banner-list {
    display: none;
  }
}
/*===================== staff-all.scss =====================*/
/*===================== Project.scss =====================*/
.p-sa-header__inner {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-sa-header__main-logo {
  width: 100%;
}

.p-sa-header__main-logo > img {
  width: 45%;
}

.p-sa-header__staffbtn {
  font-size: 0.8rem;
  width: 30%;
  color: #fff;
  background-color: #1DDB07;
  padding: 1rem 0.5rem;
  outline: 1px solid #fff;
  outline-offset: -0.3rem;
}

.p-sa-header__label > ul {
  display: flex;
  gap: 4px;
}

.p-sa-header__label {
  margin-top: 36px;
}

.p-sa-header__label_tx {
  font-size: 11px;
}

.p-sa-header__label_tx > a {
  transition: 1s;
}

.p-sa-header__label_tx > a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .p-sa-header__inner {
    display: block;
    width: 100%;
    text-align: center;
  }
  .p-sa-header__main-logo > img {
    width: 85%;
  }
  .p-sa-header__staffbtn {
    display: none;
  }
  .p-sa-header__label {
    margin-top: 25px;
  }
}
.p-sa-main__staff-title {
  font-size: 36px;
  font-weight: 800;
}

.p-sa-main__persons-ly__grid {
  text-align: center;
  padding: 0 25px;
}

.p-sa-main__persons-link {
  transition: 1s;
}

.p-sa-main__persons-link:hover {
  opacity: 0.5;
}

.p-sa-main__persons-ly__name {
  text-align: left;
  margin-top: 45px;
  font-weight: 700;
}

.p-sa-main__persons-ly__date {
  text-align: left;
  font-size: 10px;
  margin-top: 10px;
}

.p-sa-main__persons-ly__tx {
  text-align: left;
  font-size: 13px;
  margin-top: 15px;
}

.p-sa-main__persons-ly__nextlead {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 22px;
  font-size: 13px;
  transition: 1s;
}

.p-sa-main__persons-ly__nextlead:hover {
  opacity: 0.5;
}

.p-sa-main__persons-ly__nextlead::after {
  content: "";
  width: 25px;
  margin-left: 10px;
  margin-top: 5px;
  border-color: #707070;
}

.p-sa-main__chenge-pages {
  border-top: 5px solid #1DDB07;
  border-bottom: 5px solid #1DDB07;
  width: 100%;
  margin-top: 102px;
}

.p-sa-main__chenge-pages_flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}

.p-sa-main__chenge-pages-list {
  font-size: 13px;
  padding: 10px;
}

.p-sa-main__chenge-pages_prev {
  padding: 10px 15px 10px 50px;
  transition: 1s;
}

.p-sa-main__chenge-pages_prev:hover {
  opacity: 0.5;
}

.p-sa-main__chenge-pages_prev > a {
  display: inline-block;
  font-size: 13px;
}

.p-sa-main__chenge-pages_next {
  padding: 10px 50px 10px 15px;
  transition: 1s;
}

.p-sa-main__chenge-pages_next:hover {
  opacity: 0.5;
}

.p-sa-main__chenge-pages_next > a {
  display: inline-block;
  font-size: 13px;
}

.p-sa-main__chenge-pages_prev::before {
  content: "";
  width: 15px;
  margin-top: 4px;
  margin-left: -18px;
  border-color: #707070;
}

.p-sa-main__chenge-pages_next::after {
  content: "";
  width: 15px;
  margin-top: 4px;
  margin-left: 7px;
  border-color: #707070;
}

.p-sa-main__contents__banner-list {
  margin-top: 110px;
}

.p-sa-main__contents__banner-img {
  width: 100%;
  transition: 1s;
}

.p-sa-main__contents__banner-img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .p-sa-main__staff-title {
    font-size: 24px;
    font-weight: 600;
  }
  .p-sa-main__persons-ly__grid {
    margin-top: 57px;
  }
  .p-sa-main__staff-lead {
    margin-top: 30px;
    font-size: 13px;
    line-height: 20px;
  }
  .p-sa-main__persons-ly__tx {
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    margin-top: 10px;
  }
  .p-sa-main__contents__banner-list {
    display: none;
  }
}
.p-sa-footer__contents {
  width: 64%;
  margin: 0 auto;
  padding: 50px 0;
}

.p-sa-footer__flexbox {
  display: flex;
  justify-content: space-between;
}

.p-sa-footer__infobox__co-name {
  font-weight: 700;
}

.p-sa-footer__infobox__co-about {
  margin-top: 20px;
}

.p-sa-footer__infobox__co-about__address {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
}

.p-sa-footer__infobox__co-about__tel {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 500;
}

.p-sa-footer__linkbox {
  align-items: center;
  text-align: center;
}

.p-sa-footer__linkbox__img {
  display: inline-block;
  background-color: #ffffff;
  font-size: 13px;
  padding: 10px 2.5rem;
  border: solid 1px #D6D5D5;
}

.p-sa-footer__contents_copy {
  text-align: center;
  margin: 55px 0 0;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .p-sa-footer__contents {
    width: 85%;
  }
  .p-sa-footer__flexbox {
    flex-direction: column;
  }
  .p-sa-footer__infobox {
    order: 2;
  }
  .p-sa-footer__linkbox {
    order: 1;
    margin-top: -10px;
  }
  .p-sa-footer__linkbox__img {
    padding: 10px 2.5rem;
  }
  .p-sa-footer__infobox {
    margin-top: 30px;
  }
  .p-sa-footer__contents_copy {
    text-align: left;
    margin: 45px 0 0;
  }
}
/*===================== ataff-detail.scss =====================*/
/*===================== Project.scss =====================*/
.p-sd-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-sd-header__main-logo {
  width: 100%;
}

.p-sd-header__main-logo > img {
  width: 45%;
}

.p-sd-header__staffbtn {
  font-size: 0.8rem;
  width: 30%;
  color: #fff;
  background-color: #1DDB07;
  padding: 1rem 0.5rem;
  outline: 1px solid #fff;
  outline-offset: -0.3rem;
}

.p-sd-header__label > ul {
  display: flex;
  gap: 4px;
}

.p-sd-header__label {
  margin-top: 36px;
}

.p-sd-header__label_tx {
  font-size: 11px;
}

.p-sd-header__label_tx > a {
  transition: 1s;
}

.p-sd-header__label_tx > a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .p-sd-header__inner {
    display: block;
    width: 100%;
    text-align: center;
  }
  .p-sd-header__main-logo > img {
    width: 85%;
  }
  .p-sd-header__staffbtn {
    display: none;
  }
  .p-sd-header__label {
    margin-top: 25px;
  }
}
.p-sd-main__staff-title {
  font-size: 36px;
  font-weight: 800;
}

.p-sd-main__icon {
  width: 100%;
  text-align: center;
  margin-top: 65px;
}

.p-sd-main__icon__img {
  width: 29%;
}

.p-sd-main__date {
  margin-top: 40px;
  font-size: 11px;
}

.p-sd-main__sns__flexbox {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.p-sd-main__sns__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  outline: 1px solid #707070;
  transition: 1s;
}

.p-sd-main__sns__link:hover {
  opacity: 0.5;
}

.p-sd-main__section__title {
  margin-top: 80px;
  font-weight: 800;
}

.p-sd-main__section__contents {
  margin-top: 30px;
}

.p-sd-main__section__img {
  border-radius: 20px;
  width: 270px;
  float: right;
  margin-left: 50px;
  margin-bottom: 40px;
}

.p-sd-main__section__img-left {
  border-radius: 20px;
  width: 270px;
  float: left;
  margin-right: 50px;
  margin-bottom: 40px;
}

.p-sd-main__section__text {
  font-size: 13px;
  line-height: 26px;
  text-align: justify;
}

.p-sd-main__change {
  width: 100%;
  margin-top: 120px;
  text-align: center;
}

.p-sd-main__change__btn {
  font-size: 0.8rem;
  width: 37%;
  color: #fff;
  background-color: #1DDB07;
  padding: 1rem 30px;
}

.p-sd-main__change__btn::after {
  content: "";
  width: 25px;
  margin-left: 18px;
  margin-top: 2px;
  border-color: #ffffff;
}

.p-sd-main__chenge-pages {
  border-top: 5px solid #1DDB07;
  border-bottom: 5px solid #1DDB07;
  width: 100%;
  margin-top: 65px;
}

.p-sd-main__chenge-pages_flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 0;
}

.p-sd-main__chenge-pages_prev {
  padding: 10px 15px 10px 50px;
  transition: 1s;
}

.p-sd-main__chenge-pages_prev:hover {
  opacity: 0.5;
}

.p-sd-main__chenge-pages_prev > a {
  display: inline-block;
  font-size: 13px;
}

.p-sd-main__chenge-pages_next {
  padding: 10px 50px 10px 15px;
  transition: 1s;
}

.p-sd-main__chenge-pages_next:hover {
  opacity: 0.5;
}

.p-sd-main__chenge-pages_next > a {
  display: inline-block;
  font-size: 13px;
}

.p-sd-main__chenge-pages_prev::before {
  content: "";
  width: 15px;
  margin-top: 4px;
  margin-left: -18px;
  border-color: #707070;
}

.p-sd-main__chenge-pages_next::after {
  content: "";
  width: 15px;
  margin-top: 4px;
  margin-left: 7px;
  border-color: #707070;
}

.p-sd-main__contents__banner-list {
  width: 64%;
  margin: 70px auto 0;
  margin-top: 60px;
}

.p-sd-main__contents__banner-img {
  width: 100%;
  transition: 1s;
}

.p-sd-main__contents__banner-img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .p-sd-main__staff-title {
    font-size: 28px;
    font-weight: 600;
  }
  .p-sd-main__icon {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .p-sd-main__icon__img {
    width: 60%;
  }
  .p-sd-main__section__img {
    width: 100%;
  }
  .p-sd-main__section__img-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .p-sd-main__section__img {
    margin-bottom: 15px;
  }
  .p-sd-main__change__btn {
    width: 80%;
  }
  .p-sd-main__contents__banner-list {
    display: none;
  }
}
.p-sd-aside__flexbox * {
  transition: 1s;
}

.p-sd-aside__flexbox:hover * {
  opacity: 0.5;
}

.p-sd-aside__interviewt-title {
  font-size: 24px;
  font-weight: 800;
}

.p-sd-aside__contents {
  margin-top: 20px;
}

.p-sd-aside__flexbox {
  display: flex;
  padding: 22px 0;
  align-items: center;
  gap: 10px;
}

.p-sd-aside__icon__img {
  width: 24%;
  height: 24%;
  outline: 2px solid #F1F1F1;
}

.p-sd-aside__name {
  font-size: 13px;
  line-height: 20px;
}

.p-sd-aside__date {
  font-size: 10px;
}

.p-sd-footer__contents {
  width: 64%;
  margin: 0 auto;
  padding: 45px 0;
}

.p-sd-footer__flexbox {
  display: flex;
  justify-content: space-between;
}

.p-sd-footer__infobox__co-name {
  font-weight: 700;
}

.p-sd-footer__infobox__co-about {
  margin-top: 20px;
}

.p-sd-footer__infobox__co-about__address {
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
}

.p-sd-footer__infobox__co-about__tel {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 500;
}

.p-sd-footer__linkbox {
  align-items: center;
  text-align: center;
}

.p-sd-footer__linkbox__img {
  display: inline-block;
  background-color: #ffffff;
  font-size: 14px;
  padding: 10px 2.5rem;
  border: solid 1px #D6D5D5;
}

.p-sd-footer__contents_copy {
  text-align: center;
  margin: 55px 0 0;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .p-sd-footer__contents {
    width: 85%;
  }
  .p-sd-footer__flexbox {
    flex-direction: column;
  }
  .p-sd-footer__infobox {
    order: 2;
  }
  .p-sd-footer__linkbox {
    order: 1;
    margin-top: -10px;
  }
  .p-sd-footer__linkbox__img {
    padding: 10px 2.5rem;
  }
  .p-sd-footer__infobox {
    margin-top: 30px;
  }
  .p-sd-footer__contents_copy {
    text-align: left;
    margin: 45px 0 0;
  }
}
/*===========================================================*/
/*===================== Utility.scss =====================*/
.u-header__label-linkColor {
  color: #1558D6;
}

.u-new-person::before {
  content: url(../../../sozai/new.svg);
  position: absolute;
  transform: translate(-100%, -100%);
}

.u-sd-aside-dot {
  border-top: dashed 1px #727272;
}

.u-sd-aside-dot--bottom {
  border-top: dashed 1px #727272;
  border-bottom: dashed 1px #727272;
}

.js-animation {
  opacity: 1;
  transform: none;
}/*# sourceMappingURL=style.css.map */