.l-footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

// ======================== media-screen ======================== 

// @media screen and (max-width: 768px) {
// }