body {
  font-size: 14px;
}

img {
  max-width: 100%;
}

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-header {
  width: 100%;
  opacity: 0;
  transition: 3s;
}

.l-main {
  max-width: 840px;
  margin: 90px auto 160px;
}

@media screen and (max-width: 768px) {
  .l-main {
    max-width: 93%;
    margin: 70px auto 140px;
  }
}
.l-footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.c-cource__grid {
  border: solid 1px #707070;
  text-align: center;
}

.c-radius {
  border-radius: 50%;
}

.c-number-radius {
  position: relative;
  border-radius: 50%;
  background-color: #333333;
  border: solid 1px #707070;
}

.c-number-radius__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-card {
  width: 45%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-card {
    width: 95%;
  }
}
.c-card__heading {
  color: #ffffff;
  background-color: #EB4E45;
  font-size: 13px;
  font-weight: 100;
}

.c-main__contents__lavel {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 792px;
  height: 172px;
  margin: auto;
  transform: translateY(30px);
  transition: 1s;
  transition-delay: 0.2s;
  opacity: 0;
}

.c-main__contents__lavel::before {
  content: "";
  position: absolute;
  width: 98.5%;
  height: 160px;
  top: 0;
  left: 0;
  border: solid 1px #333333;
  z-index: 0;
}

.c-main__contents__lavel::after {
  content: "";
  position: absolute;
  width: 98.5%;
  height: 160px;
  bottom: 0;
  right: 0;
  background-color: #45CCC4;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .c-main__contents__lavel {
    max-width: 95%;
    height: 96px;
  }
  .c-main__contents__lavel::before {
    width: 98%;
    height: 90px;
  }
  .c-main__contents__lavel::after {
    width: 98%;
    height: 90px;
    border: solid 1px #45CCC4;
  }
}
.c-feature__lavel {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 840px;
  height: 130px;
  margin: 0 auto;
  left: 100%;
  opacity: 0;
  transition: 2s;
}

.c-feature__lavel::before {
  content: "";
  position: absolute;
  width: 98.5%;
  height: 118px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: solid 1px #333333;
  z-index: 0;
}

.c-feature__lavel::after {
  content: "";
  position: absolute;
  width: 98.5%;
  height: 118px;
  bottom: 0;
  right: 0;
  border: solid 2px #45CCC4;
}

@media screen and (max-width: 768px) {
  .c-feature__lavel {
    max-width: 90%;
    height: 54px;
  }
  .c-feature__lavel::before {
    width: 99%;
    height: 49px;
  }
  .c-feature__lavel::after {
    width: 99%;
    height: 49px;
    border: solid 1px #45CCC4;
  }
}
.c-small__heading {
  font-weight: bold;
  max-width: 840px;
  padding: 11px 0;
  margin: 0 auto;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.c-right__arrow {
  display: inline-block;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(45deg);
}

.p-header__container-img {
  position: relative;
  height: 800px;
  width: 100%;
}

.p-header__mv__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-header__maintext {
  position: absolute;
  top: 25px;
  left: 45px;
}

.p-header__maintext__heading {
  margin-top: 85px;
}

.p-header__circle {
  position: absolute;
  right: 28px;
  bottom: -25px;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: #E6B422;
  background: linear-gradient(#E6B422, #F6DD93);
  text-align: center;
}

.p-header__circle__box {
  margin-top: 63px;
}

.p-header__circle__level {
  margin: 0 auto;
}

.p-header__circle__flexbox {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 25px;
}

.p-header__circle__flexbox__percent {
  transform: translate(10px, -5px);
}

.p-header__circle__note {
  margin: 30px auto 0;
}

@media screen and (max-width: 768px) {
  .p-header__container-img {
    position: relative;
    height: 64vh;
  }
  .p-header__mv__img {
    height: 64vh;
  }
  .p-header__maintext {
    position: absolute;
    top: 22px;
    left: 20px;
  }
  .p-header__maintext__heading {
    margin-top: 35px;
    width: 56%;
  }
  .p-header__circle {
    right: 15px;
    bottom: -48px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
  .p-header__circle__box {
    margin-top: 40px;
  }
  .p-header__circle__level {
    width: 40%;
  }
  .p-header__circle__flexbox {
    margin-top: 15px;
  }
  .p-header__circle__flexbox__100 {
    width: 45%;
  }
  .p-header__circle__flexbox__percent {
    transform: translate(5px, -3px);
    width: 15%;
  }
  .p-header__circle__note {
    margin-top: 18px;
    width: 51%;
  }
}
.p-main__coure-container {
  width: 100%;
  text-align: center;
}

.p-main__cource-container__curriculum {
  font-size: 30px;
  margin-top: 80px;
}

.p-main__cource-container__section {
  width: 100%;
}

.p-main__cource-container__section__grid {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.p-main__cource-container__section__grid__week {
  background-color: #6D6D6D;
  height: 40px;
  vertical-align: middle;
}

.p-main__cource-container__section__grid__week__tx > img {
  padding-top: 13px;
}

.p-main__cource-container__section__grid__text {
  height: 120px;
}

.p-main__cource-container__section__grid__humanties {
  width: 146px;
  text-align: left;
}

.p-main__cource-container__section__grid__humanties > img {
  padding: 18px 0 0 18px;
}

.p-main__cource-container__section__grid__science {
  width: 146px;
  text-align: left;
}

.p-main__cource-container__section__grid__science > img {
  padding: 18px 0 0 21px;
}

.p-main__cource-container__section__grid__test {
  width: 286px;
  text-align: left;
}

.p-main__cource-container__section__grid__test > img {
  padding: 18px 0 0 28px;
}

.p-main__cource-container__section__grid__section {
  height: 40px;
}

.p-main__cource-container__section__grid__qa {
  text-align: left;
}

.p-main__cource-container__section__grid__qa > img {
  padding: 12px 0 0 16px;
}

.p-main__coure-container__which-heading {
  margin-top: 70px;
}

.p-main__coure-container__triangle {
  margin: 50px auto;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 170px solid transparent;
  border-left: 170px solid transparent;
  border-top: 48px solid #45CCC4;
  border-bottom: 0;
}

.p-main__coure-container__cource {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}

.p-main__coure-container__cource__group {
  text-align: center;
  max-width: 380px;
}

.p-main__coure-container__cource__group__col {
  position: relative;
  background-color: #EB4E45;
  height: 168px;
}

.p-main__coure-container__cource__group__col__logo {
  position: absolute;
  top: -48px;
  right: 50%;
  transform: translateX(50%);
}

.p-main__coure-container__cource__group__col__tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-main__coure-container__cource__group__col__tx__main {
  margin-top: 15px;
}

.p-main__coure-container__cource__group__explain {
  margin-top: 15px;
}

.p-main__coure-container__cource__group__explain__bgimg {
  width: 280px;
  height: 280px;
}

.p-main__coure-container__cource__group__explain__tx {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
  text-align: left;
}

.p-main__coure-container__cource__online {
  text-align: center;
  max-width: 380px;
}

.p-main__coure-container__cource__online__col {
  position: relative;
  background-color: #0158A8;
  height: 168px;
}

.p-main__coure-container__cource__online__col__logo {
  position: absolute;
  top: -48px;
  right: 50%;
  transform: translateX(50%);
}

.p-main__coure-container__cource__online__col__tx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-main__coure-container__cource__online__col__tx__main {
  margin-top: 15px;
}

.p-main__coure-container__cource__online__explain {
  margin-top: 15px;
}

.p-main__coure-container__cource__online__explain__bgimg {
  width: 280px;
  height: 280px;
}

.p-main__coure-container__cource__online__explain__tx {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  line-height: 1.8;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .p-main__coure-container__start {
    width: 96%;
    margin: 0 auto;
  }
  .p-main__cource-container__curriculum {
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    margin-top: 40px;
  }
  .p-main__cource-container__section {
    width: 100%;
  }
  .p-main__cource-container__section__grid {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 9px 6px;
  }
  .p-main__cource-container__section__grid__week {
    height: 23px;
  }
  .p-main__cource-container__section__grid__week__tx > img {
    width: 25px;
    padding-top: 0;
    padding-bottom: 2px;
  }
  .week2-3 > img {
    width: 40px;
    padding-bottom: 2px;
  }
  .p-main__cource-container__section__grid__text {
    height: 69px;
  }
  .p-main__cource-container__section__grid__humanties {
    width: 146px;
  }
  .p-main__cource-container__section__grid__humanties > img {
    padding: 10px 0 0 10px;
    width: 45px;
  }
  .p-main__cource-container__section__grid__science {
    width: 146px;
  }
  .p-main__cource-container__section__grid__science > img {
    padding: 10px 0 0 12px;
    width: 45px;
  }
  .p-main__cource-container__section__grid__test {
    width: 286px;
  }
  .p-main__cource-container__section__grid__test > img {
    padding: 9px 0 0 10px;
    width: 130px;
  }
  .p-main__cource-container__section__grid__section {
    height: 25px;
  }
  .p-main__cource-container__section__grid__qa {
    text-align: left;
  }
  .p-main__cource-container__section__grid__qa > img {
    padding: 0 0 0 10px;
    width: 280px;
  }
  .p-main__coure-container__which-heading {
    width: 96%;
    margin: 35px auto 0;
  }
  .p-main__coure-container__triangle {
    margin: 21px auto;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    border-top: 27px solid #45CCC4;
  }
  .p-main__coure-container__cource {
    display: block;
    margin-top: 65px;
  }
  .p-main__coure-container__cource__group {
    max-width: 85%;
    margin: 0 auto;
  }
  .p-main__coure-container__cource__group__col {
    height: 140px;
  }
  .p-main__coure-container__cource__group__col__logo {
    width: 35%;
    top: -35px;
  }
  .p-main__coure-container__cource__group__col__tx__sub {
    width: 50%;
    margin: 5px auto 0;
  }
  .p-main__coure-container__cource__group__col__tx__main {
    width: 87%;
    margin: 12px auto 0;
  }
  .p-main__coure-container__cource__group__explain {
    margin-top: 19px;
  }
  .p-main__coure-container__cource__online {
    max-width: 85%;
    margin: 70px auto 0;
  }
  .p-main__coure-container__cource__online__col {
    position: relative;
    height: 140px;
  }
  .p-main__coure-container__cource__online__col__logo {
    width: 28%;
    top: -35px;
  }
  .p-main__coure-container__cource__online__col__tx__sub {
    width: 38%;
    margin: 0 auto;
  }
  .p-main__coure-container__cource__online__col__tx__main {
    width: 100%;
    margin: 12px auto 0;
  }
  .p-main__coure-container__cource__online__explain {
    margin-top: 19px;
  }
}
.p-main__feature {
  position: relative;
  width: 100vw;
  padding-bottom: 80px;
  margin: 135px calc(50% - 50vw) 0;
  background-color: rgba(69, 204, 196, 0.5019607843);
  text-align: center;
}

.p-main__feature__logo {
  position: absolute;
  left: 50%;
  top: -70px;
  transform: translateX(-50%);
}

.p-main__feature__heading {
  font-size: 24px;
  font-weight: 600;
  padding-top: 100px;
  letter-spacing: 0.04em;
}

.p-main__feature__contents {
  margin-top: 50px;
}

.p-main__feature__contents__lavel {
  margin: 30px auto 0;
  display: flex;
}

.p-main__feature__contents__lavel__number {
  margin-left: 45px;
  width: 64px;
  height: 64px;
}

.p-main__feature__contents__heading {
  position: relative;
  margin-left: 75px;
  padding: 10px 0;
  background: linear-gradient(transparent 70%, yellow 70%);
  display: inline-block;
}

.p-main__feature__contents__lavel__bottom-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(45deg);
  right: 10%;
}

@media screen and (max-width: 768px) {
  .p-main__feature {
    margin: 70px calc(50% - 50vw) 0;
    padding-bottom: 60px;
  }
  .p-main__feature__logo {
    top: -50px;
    width: 54%;
  }
  .p-main__feature__heading {
    font-size: 19px;
    padding-top: 87px;
  }
  .p-main__feature__contents__lavel {
    margin: 10px auto 0;
  }
  .p-main__feature__contents__lavel__number {
    margin-left: 20px;
    width: 26px;
    height: 26px;
  }
  .p-main__feature__contents__lavel__number > img {
    width: 30%;
  }
  .p-main__feature__contents__heading {
    margin-left: 30px;
    width: 110px;
    padding: 7px 0 5px;
    margin-bottom: 10px;
    background: linear-gradient(transparent 70%, yellow 20%);
  }
  .p-main__feature__contents__lavel__bottom-arrow {
    width: 9px;
    height: 9px;
    border-bottom: solid 1px #000;
    border-right: solid 1px #000;
    right: 10%;
  }
}
.p-main__curriculum-contents {
  margin-top: 50px;
}

.p-main__curriculum-contents__lavel__number {
  margin-left: 160px;
  width: 64px;
  height: 64px;
}

.p-main__curriculum-contents__heading {
  margin-left: 55px;
}

.p-main__curriculum-contents__tx {
  text-align: center;
  margin: 40px auto 0;
  margin-top: 20px;
  line-height: 25px;
}

.p-main__curriculum-contents__basic {
  margin: 35px auto 0;
}

.p-main__curriculum-contents__basic__img {
  width: 100%;
  margin-top: 10px;
}

.p-main__curriculum-contents__basic__tx {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  line-height: 20px;
}

.p-main__curriculum-contents__flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.p-main__curriculum-contents__flexbox__thema__tx {
  font-size: 12px;
  padding: 10px 20px;
  text-align: left;
  line-height: 20px;
}

.p-main__curriculum-contents__flexbox__college__tx {
  font-size: 12px;
  padding: 10px 20px;
  text-align: left;
  line-height: 20px;
}

.p-main__curriculum-contents__others-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.p-main__curriculum-contents__others-link__tx {
  border-bottom: solid 1px #000;
}

.p-main__curriculum-contents__others-link__arrow {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.p-main__curriculum-contents__introduction {
  background-color: #ECFCFB;
  width: 100vw;
  padding: 40px 0;
  margin: 42px calc(50% - 50vw) 0;
  text-align: center;
}

.p-main__curriculum-contents__introduction__flexbox {
  position: relative;
  max-width: 840px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-main__curriculum-contents__introduction__flexbox__caution {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 95px;
}

.p-main__curriculum-contents__introduction__flexbox__caution > img {
  display: block;
  margin: 5px auto 0;
}

.p-main__curriculum-contents__introduction__container {
  position: relative;
  text-align: left;
  width: 23%;
  height: 200px;
  background-color: #ffffff;
}

.p-main__curriculum-contents__introduction__container__heading {
  position: absolute;
  width: 140px;
  height: 30px;
  background-color: #EB4E45;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-main__curriculum-contents__introduction__container__tx {
  margin-top: 45px;
  margin-left: 50px;
}

.p-main__curriculum-contents__introduction__container__common-college {
  margin: 40px 0 50px 50px;
  margin-left: 50px;
}

.p-main__curriculum-contents__introduction__container__common-test {
  margin: 40px 0 50px 43px;
}

.p-main__curriculum-contents__introduction__container__tx--college {
  margin-left: 50px;
}

.p-main__curriculum-contents__introduction__container__tx--test {
  margin-left: 43px;
}

.p-main__curriculum-contents__introduction__media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 840px;
  margin: 23px auto 0;
}

.p-main__curriculum-contents__introduction__media__img {
  width: 260px;
}

.p-main__curriculum-contents__introduction__media__column {
  text-align: left;
}

.p-main__curriculum-contents__introduction__media__column__heading {
  font-size: 17px;
  font-weight: bold;
}

.p-main__curriculum-contents__introduction__media__column__tx {
  margin-top: 15px;
  line-height: 1.8;
}

.p-main__curriculum-contents__introduction__media__column__tx__line {
  font-weight: bold;
  background: #FFFF00;
}

@media screen and (max-width: 768px) {
  .p-main__curriculum-contents__lavel__number {
    margin-left: 75px;
    width: 35px;
    height: 35px;
  }
  .p-main__curriculum-contents__lavel__number > img {
    width: 25%;
  }
  .p-main__curriculum-contents__heading {
    margin-left: 15px;
    width: 40%;
  }
  .p-main__curriculum-contents__tx {
    text-align: left;
    width: 96.5%;
  }
  .p-main__curriculum-contents__basic {
    margin: 35px auto 0;
  }
  .p-main__curriculum-contents__basic__img {
    width: 100%;
    margin-top: 10px;
  }
  .p-main__curriculum-contents__basic__tx {
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    line-height: 20px;
  }
  .p-main__curriculum-contents__flexbox {
    display: block;
    margin-top: 38px;
  }
  .p-main__curriculum-contents__flexbox__thema {
    margin: 0 auto;
  }
  .p-main__curriculum-contents__flexbox__college {
    margin: 25px auto 0;
  }
  .p-main__curriculum-contents__introduction__heading {
    width: 90%;
  }
  .p-main__curriculum-contents__introduction__flexbox {
    max-width: 90%;
    margin: 40px auto 0;
    gap: 45px 0;
  }
  .p-main__curriculum-contents__introduction__flexbox__caution {
    top: 70%;
    left: 1%;
    width: 100%;
  }
  .p-main__curriculum-contents__introduction__flexbox__caution > img {
    display: block;
    margin: 5px auto 0;
  }
  .p-main__curriculum-contents__introduction__flexbox__caution > img:first-child {
    width: 52%;
  }
  .p-main__curriculum-contents__introduction__flexbox__caution > img:last-child {
    width: 100px;
  }
  .p-main__curriculum-contents__introduction__container {
    width: 48%;
    height: 170px;
  }
  .p-main__curriculum-contents__introduction__container__heading {
    width: 68%;
    height: 25px;
  }
  .p-main__curriculum-contents__introduction__container__tx {
    margin: 0;
    padding: 35px 0 0 25%;
  }
  .basic {
    width: 58%;
  }
  .thema {
    width: 70%;
  }
  .p-main__curriculum-contents__introduction__container__common-college {
    width: 78%;
    margin: 0;
    padding: 35px 0 0 25%;
  }
  .p-main__curriculum-contents__introduction__container__tx--college {
    margin: 0;
    padding: 42px 0 0 25%;
    width: 65%;
  }
  .p-main__curriculum-contents__introduction__container__common-test {
    width: 72%;
    margin: 0;
    padding: 35px 0 0 21%;
  }
  .p-main__curriculum-contents__introduction__container__tx--test {
    margin: 0;
    padding: 42px 0 0 21%;
    width: 65%;
  }
  .p-main__curriculum-contents__introduction__media {
    display: block;
    width: 93%;
    margin: 35px auto 0;
  }
  .p-main__curriculum-contents__introduction__media__img {
    width: 95%;
  }
  .p-main__curriculum-contents__introduction__media__column {
    text-align: left;
    width: 96%;
    margin: 22px auto 0;
  }
  .p-main__curriculum-contents__introduction__media__column__heading {
    font-size: 1.1em;
    font-weight: bold;
  }
  .p-main__curriculum-contents__introduction__media__column__tx {
    margin-top: 10px;
    line-height: 1.8;
    text-align: justify;
  }
}
.p-main__voice {
  margin-top: 50px;
  text-align: center;
}

.p-main__voice__lavel__number {
  margin-left: 160px;
  width: 64px;
  height: 64px;
}

.p-main__voice__heading {
  margin-left: 45px;
}

.p-main__voice__tx {
  margin-top: 20px;
  line-height: 1.8;
}

.p-main__voice__img {
  width: 100vw;
  height: 600px;
  margin: 35px calc(50% - 50vw) 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-main__voice {
    margin-top: 46px;
  }
  .p-main__voice__lavel__number {
    margin-left: 69px;
    width: 35px;
    height: 35px;
  }
  .p-main__voice__lavel__number > img {
    width: 25%;
  }
  .p-main__voice__heading {
    margin-left: 18px;
    width: 43%;
  }
  .p-main__voice__tx {
    text-align: left;
    width: 95%;
    margin: 20px auto;
    text-align: justify;
  }
  .p-main__voice__img {
    height: 51vh;
  }
  .p-main__voice__img > img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.p-main__instructor {
  margin-top: 50px;
  text-align: center;
}

.p-main__instructor__lavel__number {
  margin-left: 160px;
  width: 64px;
  height: 64px;
}

.p-main__instructor__heading {
  margin-left: 55px;
}

.p-main__instructor__tx {
  margin-top: 20px;
  line-height: 1.8;
}

.p-main__instructor__small-heading {
  margin-top: 30px;
}

.p-main__instructor__introduction {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.p-main__instructor__introduction__card {
  height: 156px;
  background-color: #F5F5F5;
  text-align: left;
  padding-left: 20px;
}

.p-main__instructor__introduction__card__subject {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  background-color: #333333;
  margin-top: 20px;
  padding: 1px 8px;
}

.p-main__instructor__introduction__card__name {
  display: block;
  margin-top: 10px;
}

.p-main__instructor__introduction__card__comment {
  margin-top: 10px;
  line-height: 1.7;
}

.p-main__instructor__others-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.p-main__instructor__others-link__tx {
  border-bottom: solid 1px #000;
}

.p-main__instructor_others-link__arrow {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.p-main__instructor__tx {
  text-align: left;
  width: 95%;
  margin: 20px auto;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .p-main__instructor {
    margin-top: 46px;
  }
  .p-main__instructor__lavel__number {
    margin-left: 69px;
    width: 35px;
    height: 35px;
  }
  .p-main__instructor__lavel__number > img {
    width: 25%;
  }
  .p-main__instructor__heading {
    margin-left: 18px;
    width: 43%;
  }
  .p-main__instructor__introduction {
    margin-top: 28px;
    display: block;
  }
  .p-main__instructor__introduction__card {
    height: 156px;
    padding-left: 0;
    padding: 0 20px;
  }
  .p-main__instructor__introduction__card:not(:first-child) {
    margin-top: 30px;
  }
  .p-main__instructor__introduction__card__comment {
    margin-top: 10px;
    line-height: 1.7;
  }
}
.p-main__pass-rate {
  margin-top: 50px;
  text-align: center;
}

.p-main__pass-rate__lavel__number {
  margin-left: 150px;
  width: 64px;
  height: 64px;
}

.p-main__pass-rate__heading {
  margin-left: 50px;
}

.p-main__pass-rate__tx {
  margin-top: 20px;
  line-height: 1.8;
}

.p-main__pass-rate__contents {
  margin-top: 30px;
}

.p-main__pass-rate__contents__graph {
  max-width: 600px;
  margin: 0 auto;
}

.p-main__pass-rate__contents__flexbox {
  display: flex;
  justify-content: space-between;
  margin: 40px 165px 0 150px;
}

.p-main__pass-rate__contents__flexbox__tx {
  padding: 0 10px 10px;
  background: linear-gradient(transparent 50%, yellow 70%);
}

.p-main__pass-rate__contents__flexbox__tx__value {
  margin-left: 15px;
}

.p-main__pass-rate__contents__flexbox__tx__symbol {
  margin-left: 5px;
}

.p-main__pass-rate__students-voice {
  margin-top: 60px;
}

.p-main__pass-rate__students-voice__flexbox {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.p-main__pass-rate__students-voice__flexbox__card {
  background-image: url(/sozai/img/diagonal-line.svg);
  max-width: 400px;
  height: 401px;
}

.p-main__pass-rate__students-voice__flexbox__card__container {
  padding: 40px;
  text-align: center;
}

.p-main__pass-rate__students-voice__flexbox__card__container__img {
  display: block;
  margin: 0 auto;
  max-width: 180px;
  max-height: 180px;
}

.p-main__pass-rate__students-voice__flexbox__card__container__name {
  display: inline-block;
  margin-top: 30px;
  font-size: 16px;
  padding: 3px 15px;
  background-color: #ffffff;
}

.p-main__pass-rate__students-voice__flexbox__card__container__tx {
  margin-top: 20px;
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .p-main__pass-rate__lavel__number {
    margin-left: 69px;
    width: 35px;
    height: 35px;
  }
  .p-main__pass-rate__lavel__number > img {
    width: 25%;
  }
  .p-main__pass-rate__heading {
    margin-left: 18px;
    width: 43%;
  }
  .p-main__pass-rate__tx {
    text-align: left;
    width: 95%;
    margin: 20px auto;
    text-align: justify;
  }
  .p-main__pass-rate__contents__flexbox {
    margin: 40px auto 0;
    gap: 0 20px;
    justify-content: center;
  }
  .p-main__pass-rate__contents__flexbox__tx {
    padding: 0;
    padding-bottom: 5px;
    width: 40%;
  }
  .p-main__pass-rate__contents__flexbox__tx__value {
    margin-left: 0;
  }
  .p-main__pass-rate__contents__flexbox__tx__symbol {
    margin-left: 0;
  }
  .p-main__pass-rate__contents__flexbox__tx__small > img {
    width: 30%;
  }
  .p-main__pass-rate__contents__flexbox__tx__value > img {
    width: 40%;
  }
  .p-main__pass-rate__contents__flexbox__tx__symbol > img {
    width: 15%;
  }
  .p-main__pass-rate__students-voice__flexbox {
    display: block;
  }
  .p-main__pass-rate__students-voice__flexbox__card {
    margin: 0 auto;
  }
  .p-main__pass-rate__students-voice__flexbox__card:last-child {
    margin-top: 30px;
  }
}
.p-main__follow {
  margin-top: 50px;
  text-align: center;
}

.p-main__follow__lavel__number {
  margin-left: 140px;
  width: 64px;
  height: 64px;
}

.p-main__follow__heading {
  margin-left: 45px;
}

.p-main__follow__tx {
  margin-top: 20px;
  line-height: 1.8;
}

.p-main__follow__support {
  background-color: #ECFCFB;
  width: 100vw;
  height: 324px;
  margin: 35px calc(50% - 50vw) 0;
  text-align: center;
  padding-top: 40px;
}

.p-main__follow__support__contents {
  max-width: 840px;
  margin: 30px auto 0;
}

.p-main__follow__support__contents__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 0;
  text-align: left;
  margin-left: 100px;
}

.p-main__follow__support__contents__container__list {
  font-size: 16px;
  font-weight: bold;
}

.p-main__follow__support__contents__container__list::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #45CCC4;
  border-radius: 50%;
  margin-right: 5px;
}

.p-main__follow__support__comment {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.8;
}

.p-main__follow__img {
  margin-top: 55px;
}

.p-main__follow__fin {
  padding-top: 50px;
}

.p-main__follow__fin__title {
  font-size: 17px;
}

.p-main__follow__fin__tx {
  margin-top: 20px;
  line-height: 1.8;
}

.p-main__follow__fin__tx__line {
  font-weight: bold;
  background: #FFFF00;
}

@media screen and (max-width: 768px) {
  .p-main__follow__lavel__number {
    margin-left: 69px;
    width: 35px;
    height: 35px;
  }
  .p-main__follow__lavel__number > img {
    width: 25%;
  }
  .p-main__follow__heading {
    margin-left: 18px;
    width: 43%;
  }
  .p-main__follow__tx {
    text-align: left;
    width: 95%;
    margin: 20px auto;
    text-align: justify;
  }
  .p-main__follow__support {
    width: 100vw;
    height: 100%;
    padding-bottom: 50px;
  }
  .p-main__follow__support__contents {
    margin: 30px auto 0;
  }
  .p-main__follow__support__contents__container {
    margin-left: 5%;
  }
  .p-main__follow__support__contents__container__list {
    font-size: 12px;
  }
  .p-main__follow__support__contents__container__list::before {
    content: "";
    width: 8px;
    height: 8px;
  }
  .p-main__follow__support__comment {
    font-size: 14px;
  }
}
.p-footer__flexbox {
  position: relative;
  z-index: 100;
}

.p-footer__flexbox__container {
  display: inline-block;
  background-color: #45CCC4;
  padding: 26px;
  border-radius: 10px 10px 0 0;
  border: solid 1px #ffffff;
}

.p-footer__flexbox__container.experience {
  padding-left: 13.3%;
  padding-right: 13.6%;
  transition: 0.5s;
}

.p-footer__flexbox__container.experience:hover {
  background-color: #175a56;
}

.p-footer__flexbox__container.call {
  padding-left: 11.8%;
  padding-right: 12%;
  transition: 0.5s;
}

.p-footer__flexbox__container.call:hover {
  background-color: #175a56;
}

.p-footer__flexbox__container__tx {
  font-size: 20px;
  color: #ffffff;
}

.p-footer__flexbox__container__arrow {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
}

@media screen and (max-width: 768px) {
  .p-footer__flexbox__container {
    padding: 10px 0;
  }
  .p-footer__flexbox__container.experience {
    width: 49%;
    padding-left: 0;
    padding-right: 0;
  }
  .p-footer__flexbox__container.call {
    width: 49%;
    padding-left: 0;
    padding-right: 0;
  }
  .p-footer__flexbox__container__tx {
    font-size: 1em;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .u-display__none {
    display: none;
  }
}
.js-header {
  opacity: 1;
}

.js-slide {
  left: 0;
  opacity: 1;
}

.js-contents__slide__after > .c-main__contents__lavel {
  transform: none;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */